{% extends 'app/index.html' %}
{% block index %}{% endblock %}

{% block list_book %}

<div class="container">
<h2>Список произведений автора </h2>
    <div class="list-group">
        <ol class="list-group list-group-numbered">
            {% for items_books in list_books %}
              {% if not items_books.Archived %}
                <li class="list-group-item list-group-item-action list-group-item-secondary">
                    <a href="{% url 'get_book' items_books.id %}">{{ items_books.title_name }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>

{% endblock %}
